/* .indicador-box{
  display: flex;
  justify-content: space-around;
  border: 1px solid #000;
  margin: 1rem;
  padding: .5rem;
  border-radius: 1.5rem;
} */

.td-indicador {
  border: 1px solid #000;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
}
