*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.primer-fondo{
    background-image: url(../img/pexels-pixabay-1594002x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.segundo-fondo{
    background-color: #000000d0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.container-login{
    background-color: #ffffff;
    border-radius: 26px; 
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-height: 720px;
    margin: 20px 0px 20px 0px !important;
    
}

.contenido-login{
    display: flex;
    flex-direction: column;
 
   
}

.contenido{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 30px 50px 0px 50px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
}

.logo > img{

    width: 110px;
    height: 100px;
}

.formulario .label{
    text-align: start !important;
    font-size: 20px;

}

.contenedor-button{
    width: 100%;
    height: 100%;
   
}



.contenedor-button .button{
  
    background-color: #FF721B;
    padding: 3% 12% 3% 12%;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 25px;
    margin:  20px 0px 20px 0px;
}

@media (max-width: 1448px) {
    .container-login{
        background-color: #ffffff;
        border-radius: 26px; 
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); 
        width: 100%; 
        max-height: 700px;   
    }
    
    .contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-top: 20px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
    }
    
    .logo > img{
    
        width: 90px;
        height: 80px;
    }

    .texto-medio h1{
        font-size: 20px;
    }
    .texto-medio p{
        font-size: 14px;
    }
    
    
    .formulario .label{
        text-align: start !important;
        font-size: 18px;
    
    }
    
    .contenedor-button{
        width: 100%;
        height: 100%;
       
    }
    
    
    
    .contenedor-button .button{
      
        background-color: #FF721B;
        padding: 3% 12% 3% 12%;
        border-radius: 40px;
        border: none;
        color: white;
        font-size: 20px;
        margin:  20px 0px 20px 0px;
    }

    .texto-final{
        font-size: 15px;
    }
}


/* Media query para hacerlo responsive */
@media (max-width: 968px) {
    .container-login{
        background-color: #ffffff;
        border-radius: 26px; 
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); 
        width: 100%; 
        max-height: 700px;   
    }
    
    .contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-top: 20px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
    }
    
    .logo > img{
    
        width: 90px;
        height: 80px;
    }

    .texto-medio h1{
        font-size: 20px;
    }
    .texto-medio p{
        font-size: 14px;
    }
    
    
    .formulario .label{
        text-align: start !important;
        font-size: 18px;
    
    }
    
    .contenedor-button{
        width: 100%;
        height: 100%;
       
    }
    
    
    
    .contenedor-button .button{
      
        background-color: #FF721B;
        padding: 3% 12% 3% 12%;
        border-radius: 40px;
        border: none;
        color: white;
        font-size: 20px;
        margin:  20px 0px 20px 0px;
    }

    .texto-final{
        font-size: 15px;
    }
}


@media (max-width: 634px) {
    .container-login{
        background-color: #ffffff;
        border-radius: 26px; 
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); 
        width: 100%; 
        max-height: 700px;   
    }
    
    .contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin-top: 20px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: normal;
    }
    
    .logo > img{
    
        width: 60px;
        height: 50px;
    }
    .logo h2{
        font-size: 12px;
    }

    .texto-medio h1{
        font-size: 16px;
    }
    .texto-medio p{
        font-size: 12px;
    }
    
    
    .formulario .label{
        text-align: start !important;
        font-size: 14px;
    
    }
    
    .contenedor-button{
        width: 100%;
        height: 100%;
       
    }
    
    
    
    .contenedor-button .button{
      
        background-color: #FF721B;
        padding: 3% 12% 3% 12%;
        border-radius: 40px;
        border: none;
        color: white;
        font-size: 16px;
        margin:  20px 0px 20px 0px;
    }

    .texto-final{
        font-size: 12px;
    }
}

